/*Importing Montserrat font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*Keyframe for glowing animation*/
@keyframes glowingSecondaryButton {
    0% { background-color: #dc3545; border-color: #dc3545; }
    50% { background-color: #db6571; border-color: #db6571; } 
    100% { background-color: #d3979d; border-color: #d3979d; }
}

/*Set font size for user hand and opponent hand icons*/
#yourHand, #opponentHand {
    font-size: 10rem;
}

/*Set the font family for the body*/
body {
    font-family: 'Montserrat', sans-serif !important;
}

.jumbotron {
    /* background-color: rgba(233, 236, 239, .8); */
    background-image: url('../images/Background.jpg'); /*change the background image*/
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #28b4e5;
}

/*Lock screen div class style*/
.lockScreen {
    position: fixed; 
    left: 0; 
    top: 0; 
    right: 0;
    bottom: 0;
    z-index: 1001;
    background-color: rgba(148, 146, 146, 0.9);
    font-size:2rem;
 }

 /*Style for the results card*/
 .resultsCard {
     min-height: 360px;
 }

 /* The popup chat - hidden by default */
.chatPopup {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 1001;
    width: 400px;
    box-shadow: 10px 10px 5px #aaaaaa;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }

  /* Button used to open the chat form - fixed at the bottom of the page */
.openButton {
    position: fixed;
    bottom: 23px;
    right: 28px;
  }

  /*Style for chat messages div*/
  #chatMessages {
      height: 200px;
      overflow-y: auto;
  }

  /*Chat message input text box styling*/
  #textboxMessage {
      padding-right: 40px;
  }

  /*Chat message style to set a more rounded div*/
  .chatMessage {
    border-radius: 25px;
  }

  /*Span containing the enter button/icon in the chat message input text box*/
  #spanEnterMessage {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100;
      cursor: pointer;
  }

  /*Set the font size for the icon in the chat message input text box*/
  #spanEnterMessage i {
      font-size: 1.5rem;
  }

  /*Creating a custom scroll bar look in the chat window*/
  .customScrollBar::-webkit-scrollbar {
    width: 10px;
  }
   
  /*Creating a custom scroll bar look in the chat window*/
  .customScrollBar::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }
  
  /*Creating a custom scroll bar look in the chat window*/
  .customScrollBar::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

  /*Class to prevent scrolling*/
  .noScroll {
      overflow: hidden;
  }

  /*When screen is less than 400px in width*/
  @media only screen and (max-width: 400px) {

    /*Set the chat window popup width to 100%*/
    .chatPopup {
        width: 100%;
    }
}
